In [254]:
import numpy as np
import pandas as pd

In [1]:
shots = pd.read_csv('/Users/ericpark/Desktop/NBA_Player_Box_Scores.csv')

NameError: name 'pd' is not defined

In [242]:
shots = shots.dropna(axis = 1)
shots

,Player,Team,Match Up,Game Date,Column 5,Win Loss,Min,Points,FGM,FGA,FG%,3PT,3PA,3P%,FTM,FTA,FT%
0,Brook Lopez,MIL,33,70,27.2,2.1,4.9,1.1,0.4,0.2,0.6,67.5,32.5,0.00,13.4,3.6,17.0
1,Rudy Gobert,UTA,29,71,30.8,6.1,15.1,1.4,0.2,0.3,0.5,44.7,55.3,0.06,12.1,2.8,14.8
2,Jakob Poeltl,SAS,25,69,26.7,5.5,12.0,1.3,0.4,0.2,0.6,69.0,31.0,0.04,11.6,2.9,14.4
3,Myles Turner,IND,25,47,31.0,2.3,5.4,2.2,0.3,0.3,0.6,46.7,53.3,0.00,11.1,2.5,13.6
4,Deandre Ayton,PHX,22,69,30.6,5.6,11.9,1.1,0.5,0.3,0.8,61.1,38.9,0.00,9.4,3.8,13.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,Brian Bowen II,IND,22,6,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.2,0.0,0.2
536,Ashton Hagans,MIN,21,2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
537,Greg Whittington,DEN,28,4,3.0,0.5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
538,Udonis Haslem,MIA,41,1,2.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.00,0.0,0.0,0.0
539,Will Magnay,NOP,23,1,3.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0

For some reason, when I web scraped from nba.com, the column names changed, so I am changing it back to the proper names

In [243]:
shots = shots[['Player','Team','Game Date','Column 5','FTM','FTA','FT%']]
shots = shots.rename(columns={'Game Date':'GP','Column 5':'MIN','FTM':'Contested 2PT Shots','FTA':'Contested 3PT Shots', 'FT%': 'Contested Shots'})

Must play 70% of games to qualify for league leaders in stats (58 games)
Less than 20 minutes is too low of a sample size

In [244]:
shots['Total Contested Shots'] = (shots['Contested Shots']*shots['GP']).astype(int)
shots = shots[(shots['MIN']>20) & (shots['GP']>58)]

In [245]:
shots

,Player,Team,GP,MIN,Contested 2PT Shots,Contested 3PT Shots,Contested Shots,Total Contested Shots
0,Brook Lopez,MIL,70,27.2,13.4,3.6,17.0,1190
1,Rudy Gobert,UTA,71,30.8,12.1,2.8,14.8,1050
2,Jakob Poeltl,SAS,69,26.7,11.6,2.9,14.4,993
4,Deandre Ayton,PHX,69,30.6,9.4,3.8,13.2,910
6,Chris Boucher,TOR,60,24.2,8.1,3.8,11.8,708
...,...,...,...,...,...,...,...,...
383,Kentavious Caldwell-Pope,LAL,67,28.4,1.3,1.4,2.7,180
408,Chris Paul,PHX,70,31.4,0.9,1.5,2.4,168
429,Lou Williams,ATL,66,21.6,0.6,1.5,2.1,138
446,Trae Young,ATL,63,33.7,0.8,1.0,1.9,119
452,Patty Mills,SAS,68,24.8,0.8,1.0,1.8,122

This dataset has diff% so I'm going to merge this dataset with the previous one

In [246]:
defensive_rating = pd.read_csv('/Users/ericpark/Desktop/defensive_rating.csv')

In [247]:
defensive_rating

,Player,Team,Match Up,Game Date,Column 5,Win Loss,Min,Points,FGM,FGA,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PlusMinus,Fantasy
0,Rudy Gobert,UTA,29.0,C,71.0,71.0,100.0%,9.2,22.3,41.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Brook Lopez,MIL,33.0,C,69.0,69.0,100.0%,9.0,19.8,45.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nikola Jokic,DEN,26.0,C,71.0,71.0,100.0%,8.8,18.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nikola Vucevic,CHI,30.0,C,69.0,69.0,100.0%,8.6,17.1,50.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Domantas Sabonis,IND,25.0,F-C,61.0,61.0,100.0%,8.5,18.1,47.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,Iman Shumpert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1070,Elijah Hughes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1071,Jalen Lecque,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,Keljin Blevins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,Greg Whittington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
defensive_rating = defensive_rating[['Player','Column 5','Points','FGM','FGA','FG%','3PT']].dropna()
defensive_rating = defensive_rating.rename(columns={'Column 5':'GP','Points':'DFGM','FGM':'DFGA','FGA':'DFG%','3PT':'DIFF%'})

Get average diff% to graph on tableau

In [249]:
defensive_rating

               Player    GP  DFGM  DFGA  DFG%   FG%  DIFF%
0         Rudy Gobert  71.0   9.2  22.3  41.3  49.3   -7.9
1         Brook Lopez  69.0   9.0  19.8  45.2  48.9   -3.6
2        Nikola Jokic  71.0   8.8  18.0  49.0  49.2   -0.2
3      Nikola Vucevic  69.0   8.6  17.1  50.4  49.2    1.2
4    Domantas Sabonis  61.0   8.5  18.1  47.1  48.8   -1.7
..                ...   ...   ...   ...   ...   ...    ...
532     Iman Shumpert   2.0   0.5   2.0  25.0  47.0  -22.0
533     Elijah Hughes  12.0   0.5   1.7  30.0  42.7  -12.7
534      Jalen Lecque   4.0   0.5   1.5  33.3  46.4  -13.0
535    Keljin Blevins  14.0   0.4   1.3  33.3  41.7   -8.4
536  Greg Whittington   1.0   0.0   1.0   0.0  40.7  -40.7

[537 rows x 7 columns]

In [250]:
defensive_rating = defensive_rating[defensive_rating['GP']>58]
avg_def = ((defensive_rating['DFGM'].sum())/(defensive_rating['DFGA'].sum())*100)-defensive_rating['FG%'].mean()

In [253]:
final_df = shots.merge(defensive_rating,on='Player')
final_df

,Player,Team,GP_x,MIN,Contested 2PT Shots,Contested 3PT Shots,Contested Shots,Total Contested Shots,GP_y,DFGM,DFGA,DFG%,FG%,DIFF%
0,Brook Lopez,MIL,70,27.2,13.4,3.6,17.0,1190,69.0,9.0,19.8,45.2,48.9,-3.6
1,Rudy Gobert,UTA,71,30.8,12.1,2.8,14.8,1050,71.0,9.2,22.3,41.3,49.3,-7.9
2,Jakob Poeltl,SAS,69,26.7,11.6,2.9,14.4,993,69.0,7.8,17.3,44.9,48.6,-3.7
3,Deandre Ayton,PHX,69,30.6,9.4,3.8,13.2,910,67.0,8.0,17.1,46.6,48.3,-1.8
4,Chris Boucher,TOR,60,24.2,8.1,3.8,11.8,708,60.0,5.9,13.3,44.6,47.4,-2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Kentavious Caldwell-Pope,LAL,67,28.4,1.3,1.4,2.7,180,67.0,4.3,9.0,47.8,46.4,1.3
113,Chris Paul,PHX,70,31.4,0.9,1.5,2.4,168,68.0,5.0,9.9,50.4,45.5,4.9
114,Lou Williams,ATL,66,21.6,0.6,1.5,2.1,138,66.0,2.6,5.6,45.9,44.2,1.8
115,Trae Young,ATL,63,33.7,0.8,1.0,1.9,119,63.0,5.2,10.7,48.7,45.3,3.3
116,Patty Mills,SAS,68,24.8,0.8,1.0,1.8,122,67.0,3.8,8.0,47.6,45.2,2.4

In [129]:
final_df.to_csv("defense_shots.csv")

In [ ]:
#